<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Seahorse{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1>Seahorse</h1>
        <nav>
            <ul>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('index') }}">タスク一覧</a></li>
                <li><a href="{{ url_for('add_task') }}">新規タスク追加</a></li>
                <li><a href="{{ url_for('deleted_tasks') }}">削除したタスク</a></li>
                <li><a href="{{ url_for('logout') }}">ログアウト</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">ログイン</a></li>
                <li><a href="{{ url_for('register') }}">登録</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Ryutaro.M All Rights Reserved.</p>
    </footer>
</body>

</html>