{% extends "base.html" %}

{% block title %}タスク一覧{% endblock %}

{% block content %}
<h2>タスク一覧</h2>

<h3>未完了のタスク</h3>
<ul class="task-list">
    {% for task in incomplete_tasks %}
    <li class="task-item">
        <span class="task-title">{{ task.title }}</span>
        <a href="{{ url_for('complete_task', id=task.id)}}" class="btn">完了</a>
        <a href="{{ url_for('archive_task', id=task.id)}}" class="btn btn-archive">アーカイブ</a>
    </li>
    {% endfor %}
</ul>
<h3>完了したタスク</h3>
<ul class="task-list">
    {% for task in completed_tasks %}
    <li class="task-item">
        <span class="task-title">{{ task.title }}</span>
        <a href="{{ url_for('complete_task', id=task.id)}}" class="btn">未完了にする</a>
        <a href="{{ url_for('archive_task', id=task.id)}}" class="btn btn-archive">アーカイブ</a>
    </li>
    {% endfor %}
</ul>
<h3>アーカイブしたタスク</h3>
<ul class="task-list">
    {% for task in archived_tasks %}
    <li class="task-item">
        <span class="task-title">{{ task.title }}</span>
        <a href="{{ url_for('restore_task', id=task.id)}}" class="btn">タスクへ戻す</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}