{% extends "base.html" %}

{% block content %}
<h1>ユーザー登録</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}
        {{ form.username(required=true) }}
        {% for error in form.username.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.email.label }}
        {{ form.email(required=true) }}
        {% for error in form.email.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password(required=true) }}
        {% for error in form.password.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.password2.label }}
        {{ form.password2(required=true) }}
        {% for error in form.password2.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    {{ form.submit() }}
</form>
{% endblock %}